h1 {
  color: #D2691E;
  text-align: left;
  font-size: 30px;
  line-height: 40px;
  font-family: sans-serif;
}

h2 {
  color: 	#D3D3D3;
  text-align: left;
  font-style: italic;
  font-size: 20px;
  line-height: 30px;
  font-family: sans-serif;
}

h3 {
  color: 	red;
  text-align: left;
  font-style: italic;
  font-size: 50px;
  line-height: 70px;
  font-family: sans-serif;
}


p {
  color: 	#808080;
  text-align: left;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  font-family: sans-serif;
}

ul {
  list-style-type: square;
  color: 	#808080;
  text-align: left;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  font-family: sans-serif;
}

ol {
  list-style-type: upper-roman;;
  color: 	#808080;
  text-align: left;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  font-family: sans-serif;
}
