h1 {
  color: #0000FF;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: sans-serif;
  font-variant: small-caps;
  font-size: 30px;
  line-height: 40px;
  font-family: sans-serif;
}

h2 {
  color: 	purple;
  text-align: left;
  font-style: italic;
  font-size: 30px;
  line-height: 40px;
  font-family: sans-serif;
}

h3 {
  color: 	#0000FF;
  text-align: left;
  font-style: italic;
  font-size: 25px;
  line-height: 20px;
  font-family: serif;
}

p {
  color: 	#808080;
  text-align: left;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  font-family: sans-serif;
}


ul {
  font-family: sans-serif;
  font-variant-caps: all-small-caps;
  letter-spacing: 1.5px;
  font-size: 20px;
  line-height: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: DarkCyan;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: Gray;
}

ol {
  list-style-type: upper-roman;;
  color: 	#808080;
  text-align: left;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  font-family: sans-serif;
}
